<html>
  <head> </head>
  <body>
    <div class="ok">
      <div class="ok2">
        <h2>Contact</h2> </div>
        <div class="contacts">
          <ul style="list-style-type:none;">
          
         <li> <img src="../assets/contact_icon.png" alt="Contact" height="70px" width="70px"> </li> 
         <button class="button1" mat-stroked-button color="primary" >Name 1</button>
        <li> <img src="../assets/contact_icon.png" alt="Contact" height="70" width="70px"></li>
        <button class="button2" mat-stroked-button color="primary" >Name 2</button>
        <li> <img src="../assets/contact_icon.png" alt="Contact" height="70px" width="70px"></li>
        <button class="button3" mat-stroked-button color="primary" >Name 3</button>
      </ul>
        </div>
      

      <div class="conv">
        <div class="name1">
         <h1>Name 1</h1> 
        </div>
        <ul style="list-style-type:none;">
        
        <li> <img class="im1"src="../assets/contact_icon.png" alt="Contact" height="70px" width="70px"> </li>  <p class="chat1"></p> 
        
      <li> <img class="im2"src="../assets/contact_icon.png" alt="Contact" height="70px" width="70px"> </li>  <p class="chat2"></p> 
     
      <li> <img class="im3"src="../assets/contact_icon.png" alt="Contact" height="70px" width="70px"> </li>  <p class="chat3"></p> 
    </ul>
      </div>
    </div>

  </body>
</html>
